<link rel="import" href="bower_components/polymer/polymer.html">

<dom-module id="gospel-responsive-module">
<template>
	<link rel="stylesheet" href="main.css">
	<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
	
	<iron-ajax
		auto
		url="localhost:1337/daily/"
		handle-as="document"
		on-response="handleResponse"
		debounce-duration="300"></iron-ajax>

	<h1>Gospel Module<h1>

</template>

<script>
	Polymer({
		is: "gospel-responsive-module",
		properties: {
			who: {
				type: String,
				value: "Platzi"
			}
		},
		handleResponse: function(data) {
			console.log(data);
			debugger;
		}
	});
	
</script>
</dom-module>


