html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(charset='utf-8')
		<meta name="theme-color" content="#a1952e">
		<link rel="manifest" href="manifest.json">
		<meta name="msapplication-TileColor" content="#33dfa0">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="application-name" content="Gospel">
		<link rel="icon" sizes="16x16" href="..public/bible2.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
		<link rel="apple-touch-icon" href="../public/icon-291px.svg.png">
		<meta name="msapplication-TileImage" content="calculator-128.png">

		style
			include main.css
		title!= title
	body
		.animated.text!= message
	script
		include script.js