html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(charset='utf-8')
		link(rel='manifest' href='manifest.json')
		link(rel='shortcut icon', href='favicon.ico') 
		style
			include main.css
		title!= title
	body
		img.header-bible.animated.fadeIn(src='holy_bible.png')
		.animated.fadeIn.text!= message