.hidden {
  display: none;
}
.text {
  font-size: 22px;
  color: white;
  line-height: 2;
}
html {
  background-color: black;
}
.header-bible {
  margin: auto;
  display: block;
}
h4 {
  color: white;
}
@-webkit-keyframes fadeIn {
  from {  opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.audio {
  margin: 10px;
}
audio {
  width: 100%;
}
.copy-right {
    color: white;
    font-size: 8px;
    float: right;
    margin: 0;
}